/* button */
.button {
  box-sizing: border-box;

  position: relative;

  display: block;
  margin: 0 auto;

  font-family: "Rozha One", serif;
  font-weight: 400;
  text-decoration: none;
  color: #e9b370;

  border: 1px solid #e9b370;

  transition: background-color 0.2s linear, color 0.2s linear;

  overflow: hidden;
}

.button__back {
  position: absolute;
  top: -50px;
  left: -50px;

  width: 25px;
  height: 25px;

  border-radius: 25px;
  background-color: #e9b370;
}

.button__text {
  position: relative;
  z-index: 10;
}

.button__back__in {
  transform: scale(70);
  transition: transform 0.25s linear;
}

.button__back__out {
  transform: scale(0);
  transition: transform 0.25s linear;
}

.button > .button__text {
  color: #e9b370;
  transition: color 0.25s linear;
}

.button:hover > .button__text {
  color: #fff;
}

.button__inverse {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  border: 1px solid #e9b370;
  background-color: #e9b370;

  transition: background-color 0.2s linear, color 0.2s linear;
}

.button__inverse:hover {
  text-transform: uppercase;
  color: #e9b370;
  background-color: #fff;
}
