/* @font-face {
  font-family: "Rozha One";
  src: url(fonts/RozhaOne.ttf);
} */

/* header */
.header {
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  transition: background-color 0.25s linear, box-shadow 0.25s linear;

  z-index: 1000;
}

.header__background {
  background-color: #fff;
  box-shadow: 0px 5px 25px 0px rgb(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  .header {
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 5px 25px 0px rgb(0, 0, 0, 0.2);
  }
}

.header__inner  {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .to__main__page__container,
.header .to__menu__container {
  width: 80px;
  height: 80px;
  position: relative;
  transform: scale(1);
  transition: transform 0.25s linear;
}
.to__main__page__container {
  z-index: 2;
}
.to__menu__container {
  z-index: 1;
}
@media (max-width: 767px) {
  .header .to__main__page__container,
  .header .to__menu__container {
    width: 60px;
    height: 60px;
    transform: scale(0.8);
  }
}

.header__background .to__main__page__container,
.header__background .to__menu__container {
  transform: scale(0.8);
}

@keyframes hover-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.to__main__page,
.to__menu {
  display: block;
  width: 84%;
  height: 84%;
  position: absolute;
  top: 8%;
  left: 8%;
  /* transform: translate(-50%, -50%); */
}
.to__menu {
  width: 74%;
  height: 74%;
  top: 13%;
  left: 13%;
}

.to__main__page__icon,
.to__menu__icon,
.to__menu__icon img,
.to__menu__icon__border,
.to__menu__icon__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.to__menu__icon__border {
  box-sizing: border-box;
  border: 1px solid rgb(233, 179, 112);
  border-radius: 50%;
  background-color: rgba(233, 179, 112, 0.5);

  transform: scale(0.9);

  transition: transform 0.25s linear;
}
.to__menu__icon__border__active {
  transform: scale(1.2);
}

.to__menu__icon__text {
  position: absolute;
  top: calc((100% - 16px) / 2);
  left: 0;

  font-family: "PantReg", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: rgba(233, 179, 112, 0.0);
  text-transform: uppercase;

  transition: left 0.25s linear, color 0.25s linear;
}
.to__menu__icon__text__active {
  left: -110%;
  color: rgba(233, 179, 112, 1);
}
@media (max-width: 767px) {
  .to__menu__icon__text__active {
    left: -140%;
  }
}

.to__menu__icon__back {
  border-radius: 50%;
  background-color: #120e0f;
  transform: scale(1);
  transition: transform 0.6s linear;
  z-index: 99;

  pointer-events: none;
}
.to__menu__icon__back__active {
  transform: scale(110);
  transition: transform 0.6s linear;
  z-index: 99;
}

.dash {
  width: 48%;
  height: 1px;
  position: absolute;
  left: 26%;

  pointer-events: none;

  background-color: #fff;
}
.top__dash {
  top: 37%
}
.middle__dash {
  top: 50%;
}
.bottom__dash {
  top: 63%
}

@keyframes anim-top-dash {
  0% {
    top: 37%;
    transform: rotate(0deg);
  }
  40% {
    top: 37%;
    transform: rotate(-15deg);
  }
  60% {
    top: 37%;
    transform: rotate(-15deg);
  }
  80% {
    top: 50%;
    transform: rotate(150deg);
  }
  100% {
    top: 50%;
    transform: rotate(135deg);
  }
}
.top__dash__close {
  top: 50%;
  transform: rotate(135deg);
}

@keyframes anim-middle-dash {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.7;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.middle__dash__close {
  opacity: 0;
}

@keyframes anim-bottom-dash {
  0% {
    top: 63%;
    transform: rotate(0deg);
  }
  40% {
    top: 63%;
    transform: rotate(15deg);
  }
  60% {
    top: 63%;
    transform: rotate(15deg);
  }
  80% {
    top: 50%;
    transform: rotate(-150deg);
  }
  100% {
    top: 50%;
    transform: rotate(-135deg);
  }
}
.bottom__dash__close {
  top: 50%;
  transform: rotate(-135deg);
}




/* menu */
.menu {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;

  padding-top: 50px;

  background-color: rgba(0, 0, 0, 0);

  opacity: 0;

  transition: opacity 0.3s linear;

  z-index: -10;
}
.menu__active {
  opacity: 1;

  z-index: 1000;
}

.menu__button {
  color: #fff;
  text-decoration: none;

  font-size: 50px;
  font-family: "Rozha One";

  transition: color 0.2s linear;
}

.menu__list li:last-child a {
  font-size: 20px;
}

.menu__button__unhover {
  color: grey;

  transition: color 0.2s linear;
}

.menu__button__hover {
  color: #e9b370;

  transition: color 0.2s linear;
}

.menu__list li:last-child::before {
  content: '';
  display: block;
  margin: 20px auto;

  height: 1px;
  width: 200px;

  background-color: #fff;
}

.menu__nav::after {
  content: '';
  display: block;
  margin-top: 200px;

  height: 1px;
  width: 100%;

  background-color: #fff;
}
@media (max-width: 767px) {
  .menu__nav::after {
    content: '';
    display: block;
    margin-top: 100px;
    margin-bottom: 14px;
  }
}

.menu__footer {
  color: #fff;
}

.menu__footer>* {
  margin: 7px 0;

  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .menu__footer>* {
    flex-direction: column;
  }
}

.menu__networks__tittle {
  color: #e9b370;
  text-transform: uppercase;
  font-family: "PantReg", Helvetica, sans-serif;
}

.menu__icon {
  width: 20px;
  height: 20px;
  fill: #e9b370;
}



/* expertise */
.expertise {
  background-color: #1a1718;
  padding: 150px 0px;
  margin-bottom: 400px;
  box-shadow: 0px 50px 50px -50px;
}
@media (max-width: 767px) {
  .expertise {
    margin-bottom: 450px;
    padding: 100px 0px;
  }
}
@media (max-width: 321px) {
  .expertise {
    margin-bottom: 450px;
    padding: 80px 0px;
  }
}

.expertise__suptittle {
  color: #fff;
}

.expertise__suptittle::after,
.expertise__suptittle::before {
  width: 35%;
  height: 1px;
  background-color: #e9b370;
  border: none;
}
@media (max-width: 767px) {
  .expertise__suptittle::after,
  .expertise__suptittle::before {
    width: 27%;
  }
}
@media (max-width: 481px) {
  .expertise__suptittle::after,
  .expertise__suptittle::before {
    width: 21%;
  }
}
@media (max-width: 321px) {
  .expertise__suptittle::after,
  .expertise__suptittle::before {
    width: 15%;
  }
}

.capabilities {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 767px) {
  .capabilities {
    flex-direction: column;
    align-items: center;
  }
}

.capabilitie {
  width: 25%;
  box-sizing: border-box;
  padding: 0 3%;
  border-right: 1px solid white;
}
@media (max-width: 767px) {
  .capabilitie {
    width: 95%;
    margin: 20px 0;
    border-right: none;
  }
}

.capabilitie:last-child {
  border-right: none;
}

.capabilities__header {
  margin-bottom: 20px;

  color: #fff;
  line-height: 1.0em;
  font-size: 30px;
  font-family: "Rozha One", serif;
  font-weight: 400;
}
@media (max-width: 991px) {
  .capabilities__header {
    font-size: 23px;
  }
}

.capabilities__description {
  color: #e9b370;
}



/* footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0px;

  z-index: -10;
}

.information {
  background-color: #120e0f;
  padding: 70px 0px;
}

.address {

}
@media (max-width: 767px) {
  .address {
    text-align: center;
  }
}

.adress__header {
  font-size: 25px;
  color:#fff;
}

.adress__adress {
  font-family: "PantReg", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 2.1em;
  color:#fff;
}

.tel {
  font-family: "PantReg", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 2.1em;
  color:#e9b370;
}

.resources {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
@media (max-width: 767px) {
  .resources {
    flex-direction: column;
  }
}

.networks {
  width: 25%;
}
@media (max-width: 767px) {
  .networks {
    width: 95%;
    text-align: center;
    margin-bottom: 25px;
  }
}

.networks__icon {
  width: 35px;
  height: 35px;
  fill: #e9b370;
}

.resources__button__container {
  width: 75%;
}
@media (max-width: 767px) {
  .resources__button__container {
    width: 95%;
  }
}

.resources__button {
  padding: 25px 25px;
  text-align: center;
}

.resources__button .button__text {
  color: #fff;
  font-size: 25px;
}
@media (max-width: 481px) {
  .resources__button .button__text {
    font-size: 21px;
  }
}

.copyright {
  background-color: #000;
  padding: 20px 0;
}

.copyright__inner {
  display: flex;
  justify-content: space-between;
}

.copyright__img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.copyright__information,
.copyright__login {
  font-family: "PantReg", Helvetica, sans-serif;
  color: #a49b9e;
  font-weight: lighter;
  font-size: 13px;
  line-height: 30px;
  transition: color 0.1s linear, text-decoration 0.1s linear;
}
@media (max-width: 769px) {
  .copyright__information,
  .copyright__login {
    font-size: 11px;
  }
}

.copyright__login:hover {
  color: #e9b370;
  text-decoration: none;

  transition: color 0.1s linear, text-decoration 0.1s linear;
}
